@model List<Panda.Models.Package.PackageViewModel>

@{
    ViewData["Title"] = "Home Page";
    var pendingPackages = Model.Where(x => x.Status == "Pending").ToList();
    var shippedPackages = Model.Where(x => x.Status == "Shipped").ToList();
    var deliveredPackages = Model.Where(x => x.Status == "Delivered").ToList();
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="jumbotron mt-3 bg-panda">
        <h1 class="text-white">Welcome to PANDA Delivery Services.</h1>
        <hr class="bg-white hr-2" />
        <h3 class="text-white"><a href="/Identity/Account/Login">Login</a> if you have an account.</h3>
        <h3 class="text-white"><a href="/Identity/Account/Register">Register</a> if you don't.</h3>
    </div>
}
else
{
    if (this.User.IsInRole("Admin"))
    {
        <h1 class="text-center">Hello, @this.User.Identity.Name! You are the boss. (admin)</h1>
    }
    else
    {
        <h1 class="text-center">Hello, @this.User.Identity.Name</h1>
    }


    <hr class="hr-2 bg-panda">
    <div class="d-flex justify-content-between">
        <div class="w-25 bg-white">
            <h2 class="text-center">Pending</h2>
            <div class="border-panda p-3">
                @if (pendingPackages.Count == 0)
                {
                    <h3>No pending packages</h3>
                }
                else
                {
                    foreach (var package in pendingPackages)
                    {
                        <div class="p-2 d-flex justify-content-around">
                            <h4 class="w-75">@package.Description</h4>
                            <a href="Packages/Details/@package.Id" class="btn bg-panda text-white w-25">Details</a>
                        </div>
                    }
                }

            </div>
        </div>
        <div class="w-25 bg-white">
            <h2 class="text-center">Shipped</h2>
            <div class="border-panda p-3">
                @if (shippedPackages.Count == 0)
                {
                    <h3>No shipped packages</h3>
                }
                else
                {
                    foreach (var package in shippedPackages)
                    {
                        <div class="p-2 d-flex justify-content-around">
                            <h4 class="w-75">@package.Description</h4>
                            <a href="Packages/Details/@package.Id" class="btn bg-panda text-white w-25">Details</a>
                        </div>
                    }
                }
       
            </div>
        </div>
        <div class="w-25 bg-white">
            <h2 class="text-center">Delivered</h2>
            <div class="border-panda p-3">
                @if (deliveredPackages.Count == 0)
                {
                    <h3>No delivered packages</h3>
                }
                else
                {
                    foreach (var package in deliveredPackages)
                    {
                        <div class="p-2 d-flex justify-content-around">
                            <h4 class="w-75">@package.Description</h4>
                            <a href="/Packages/Acquire/@package.Id" class="btn bg-panda text-white w-25">Acquire</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}