@model Eventures.Domain.Event

@{
    ViewData["Title"] = "New Event Creation";
}

<h1 class="text-center text-torshia">Create Event</h1>
<hr class="bg-eventures w-50 hr-2" />
<form class="mx-auto w-50" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-row text-center font-weight-bold">
        <div class="form-group col-md-6">
            <label asp-for="@Model.Name" class="text-torshia">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control" id="name" placeholder="Event Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Place" class="text-torshia">Place</label>
            <input asp-for="@Model.Place" type="text" class="form-control" id="place" placeholder="Event Place">
            <span asp-validation-for="@Model.Place" class="text-danger"></span>
        </div>
    </div>

    <hr class="bg-eventures w-100 hr-2" />

    <div class="form-row text-center font-weight-bold">
        <div class="form-group col-md-6">
            <label asp-for="@Model.Start" class="text-torshia">Start</label>
            <input asp-for="@Model.Start" type="datetime-local" class="form-control" id="start" placeholder="Start date and time">
            <span asp-validation-for="@Model.Start" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.End" class="text-torshia">End</label>
            <input asp-for="@Model.End" type="datetime-local" class="form-control" id="end" placeholder="End date and time">
            <span asp-validation-for="@Model.End" class="text-danger"></span>
        </div>
    </div>

    <hr class="bg-eventures w-100 hr-2" />


    <div class="form-row text-center font-weight-bold">
        <div class="form-group col-md-6">
            <label asp-for="@Model.TotalTickets" class="text-torshia">Total Tickets</label>
            <input asp-for="@Model.TotalTickets" type="text" class="form-control" id="totalTickets" placeholder="Total available tickets">
            <span asp-validation-for="@Model.TotalTickets" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.TicketPrice" class="text-torshia">Price Per Ticket</label>
            <input asp-for="@Model.TicketPrice" type="text" class="form-control" id="ticketPrice" placeholder="Price per ticket">
            <span asp-validation-for="@Model.TicketPrice" class="text-danger"></span>
        </div>
    </div>
    <hr class="bg-eventures w-100 hr-2" />


    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary bg-eventures text-dark">Create Event</button>
    </div>


</form>

